<nav class="nav-main">
    <ul class="menu-list">
        @for (item of itemNavigation; track $index) {
        <li class="menu-list-item">
            <a class="button-nav" ariaCurrentWhenActive="page" routerLinkActive="active-button"
                routerLink={{item.routerLink}}>
                {{item.nameLink}}
            </a>
        </li>
        } @empty {
        <li>There is not items</li>
        }
    </ul>
    <!-- dropdown menu login, admin -->
    <app-dropdown-menu (logOutLogin)="logOutLogin()" (openLoginPopup)="openLoginPopup()"></app-dropdown-menu>
</nav>
<!-- popup login-->
<app-login #loginComponent></app-login>