<!-- Popup окно -->
<div class="popup" *ngIf="isPopupOpen" (click)="onBackgroundClick($event)">
    <div class="popup-content" (click)="$event.stopPropagation()">
        <span class="close" (click)="togglePopup()">&times;</span>
        <h2>Login</h2>
        <!-- Ваша форма логина -->
        <form class="container-login " (ngSubmit)="onSubmit()">
            <div class="user-field">
                <label for="username">Username:</label>
                <input [(ngModel)]="username" name="username" id="username" placeholder="Username" required>
            </div>
            <div class="user-field">
                <label for="password">Password:</label>
                <input [(ngModel)]="password" name="password" id="password" type="password" placeholder="Password"
                    required>
            </div>
            <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
            <button class="btn-primary-pf" type="submit">Log In</button>
        </form>
    </div>
</div>