<mat-toolbar color="primary">
    <!-- Кнопка, которая открывает выпадающее меню -->
    <button class="toggle-btn" mat-icon-button [matMenuTriggerFor]="adminMenu">
        <mat-icon>account_circle</mat-icon>
        {{isUserName()}}
    </button>

    <!-- Определение выпадающего меню -->
    <mat-menu #adminMenu="matMenu">
        @if(isAdmin()) {
        <button mat-menu-item (click)="openAdminPanel()">Admin Panel</button>
        <button mat-menu-item (click)="unAuthorizationClick()">Log Out</button>
        } @else {
        <button mat-menu-item (click)="onAuthorizationClick()">Log In</button>
        }
    </mat-menu>

</mat-toolbar>