<mat-sidenav-container class="admin-dashboard custom-dashboard">
    <mat-sidenav #sidenav mode="side" opened class="custom-sidenav">
        <mat-nav-list class="custom-nav-list">
            <a mat-list-item routerLink="app-overview" class="custom-nav-item">Overview</a>
            <a mat-list-item routerLink="app-users" class="custom-nav-item">Users</a>
            <a mat-list-item routerLink="app-settings" class="custom-nav-item">Settings</a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="custom-sidenav-content">
        <mat-toolbar color="primary" class="custom-toolbar">
            <button mat-icon-button (click)="sidenav.toggle()" class="custom-menu-button">
                <mat-icon>menu</mat-icon>
            </button>
            <span class="custom-title">{{ title }}</span>
        </mat-toolbar>
        <div class="content custom-content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>